<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style>
      #form{
        justify-content: center;
      }
      #footer{
        display: flex;
        padding: 10px;
        justify-content: space-between;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <section class="hero is-fullheight" v-if="!user">
        <div id="form" class="hero-body">
          <div class="has-text-centered box">
            <h1 class="title">Bienvenido</h1>
            <div class="field">
              <div class="control">
                <input class="input" type="text" placeholder="Nombre de usuario" v-model="tempUserName">
              </div>
            </div>
            <a class="button is-link" @click="login">Ingresar</a>
          </div>
        </div>
      </section>
      <section class="hero is-fullheight" v-else>
        <div style="padding: 20px; ">
          <div v-for="msg in messages" :class="[msg.user == user? 'has-text-right': 'has-text-left']" >
            <span style="background-color:gray;">
              {{msg.user}}: {{msg.text}}
            </span>
          </div>
        </div>
        <div id="footer">
          <input class="input" type="text" placeholder="Escriba su mensaje..." v-model="message">
          <button class="button" @click="sendMessage">Enviar</button>
        </div>
      </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="%% url_for('static', filename='controller.js') %%"></script>
  </body>
</html>